### Step 1: Import Packages

In [1]:
import gzip
from google.cloud import bigquery
from google.cloud import bigquery_storage
import os
import pandas as pd
import json
import warnings
import datetime as dt
import re
warnings.filterwarnings(action="ignore")

### Step 2: Open the gzip files

In [2]:
list_gzip_files = [pos_json for pos_json in os.listdir(os.getcwd() + "/vendor_clustering_gzips") if pos_json.endswith(".gzip")]

df_s3_list = []
for i in list_gzip_files:
    with gzip.open(filename=os.path.join(os.getcwd() + "/vendor_clustering_gzips", i), mode="r") as f:
        country_code = i[0:2] # i[0:2] extracts the country code

        # Read the contents of a gzip file
        vars()["json_" + country_code] = f.read()
        f.close()
        
        # Change the bytes object into a JSON and put it in a dataframe
        vars()["df_country_" + country_code] = pd.DataFrame(json.loads(vars()["json_" + country_code].decode("utf-8")))

        # Add a column to the dataframe with the country_code
        vars()["df_country_" + country_code]["country_code"] = country_code
        df_s3_list.append(vars()["df_country_" + country_code])

        # Add a column to the data frame indicating the type of the strategy
        vars()["df_country_" + country_code]["cluster"] = re.findall(pattern="(?<=.._..-)(.*)(?=-v1)", string=i)[0]

# Combining the generated data frames into one
df_s3 = pd.concat(df_s3_list)

# Convert the "update_timestamp" column from epoch seconds to a readable timestamp
df_s3["update_timestamp"] = df_s3["update_timestamp"].apply(lambda x: dt.datetime.fromtimestamp(int(x)).strftime('%Y-%m-%d %H:%M:%S'))

### Step 3: Query the LB BQ table

In [3]:
client = bigquery.Client(project="logistics-customer-staging")
query = """
    SELECT *
    FROM `logistics-data-storage-staging.long_term_pricing.vendors_clustered`
"""
df_bq = client.query(query=query).result().to_dataframe(bqstorage_client=bigquery_storage.BigQueryReadClient(), progress_bar_type="tqdm")

Downloading: 100%|██████████|

In [4]:
def bq_dataframes_func(dataframe):
    df_check = pd.merge(
        left=dataframe,
        right=df_bq[["country_code", "vendor_id", "cluster"]],
        left_on=["country_code", "vendor_ids", "cluster"],
        right_on=["country_code", "vendor_id", "cluster"],
        how="inner",
    )
    return df_check

dataframe_country_list = [i for i in dir() if i.startswith("df_country_")]

df_check_list = []
for i in dataframe_country_list:
    country_code = i[-2:]
    vars()["df_" + country_code + "_check"] = bq_dataframes_func(dataframe=eval(i))
    df_check_list.append(vars()["df_" + country_code + "_check"])

df_check = pd.concat(df_check_list)

In [6]:
df_s3.groupby(["country_code", "cluster"], as_index=False)["vendor_ids"].count()

    country_code                                 cluster  vendor_ids
0             ae  AFV_Distance_High_Basket_High_Distance        3325
1             ae   AFV_Distance_High_Basket_Low_Distance        2182
2             ae          AFV_Distance_Insufficient_Data        9011
3             ae   AFV_Distance_Low_Basket_High_Distance        3109
4             ae    AFV_Distance_Low_Basket_Low_Distance        4706
..           ...                                     ...         ...
273           ve          AFV_Distance_Insufficient_Data        1238
274           ve   AFV_Distance_Low_Basket_High_Distance         252
275           ve    AFV_Distance_Low_Basket_Low_Distance         277
276           ve    AFV_Distance_Mid_Basket_Mid_Distance         213
277           vn          AFV_Distance_Insufficient_Data       94157

[278 rows x 3 columns]

In [7]:
df_bq[df_bq["region"] == "Americas"].groupby(["country_code", "cluster"], as_index=False)["vendor_id"].count()

   country_code                                 cluster  vendor_id
0            ar  AFV_Distance_High_Basket_High_Distance       5223
1            ar   AFV_Distance_High_Basket_Low_Distance       5101
2            ar          AFV_Distance_Insufficient_Data      13961
3            ar   AFV_Distance_Low_Basket_High_Distance       5752
4            ar    AFV_Distance_Low_Basket_Low_Distance       7886
..          ...                                     ...        ...
85           ve   AFV_Distance_High_Basket_Low_Distance        221
86           ve          AFV_Distance_Insufficient_Data       1238
87           ve   AFV_Distance_Low_Basket_High_Distance        252
88           ve    AFV_Distance_Low_Basket_Low_Distance        277
89           ve    AFV_Distance_Mid_Basket_Mid_Distance        213

[90 rows x 3 columns]

In [8]:
df_check.groupby(["country_code", "cluster"], as_index=False)[["vendor_id", "vendor_ids"]].count()

   country_code                               cluster  vendor_id  vendor_ids
0            ae  AFV_Distance_Mid_Basket_Mid_Distance       3986        3986
1            ar  AFV_Distance_Mid_Basket_Mid_Distance       6689        6689
2            at  AFV_Distance_Mid_Basket_Mid_Distance        433         433
3            bd  AFV_Distance_Mid_Basket_Mid_Distance       1399        1399
4            bh  AFV_Distance_Mid_Basket_Mid_Distance        723         723
5            bo  AFV_Distance_Mid_Basket_Mid_Distance        944         944
6            cl  AFV_Distance_Mid_Basket_Mid_Distance       2549        2549
7            cr  AFV_Distance_Mid_Basket_Mid_Distance        417         417
8            cy  AFV_Distance_Mid_Basket_Mid_Distance        321         321
9            cz  AFV_Distance_Mid_Basket_Mid_Distance        792         792
10           dk  AFV_Distance_Mid_Basket_Mid_Distance        106         106
11           do  AFV_Distance_Mid_Basket_Mid_Distance        749         749
12           ec  AFV_Distance_Mid_Basket_Mid_Distance       1425        1425
13           eg        AFV_Distance_Insufficient_Data        596         596
14           fi  AFV_Distance_Mid_Basket_Mid_Distance        405         405
15           gr        AFV_Distance_Insufficient_Data        549         549
16           gt  AFV_Distance_Mid_Basket_Mid_Distance        676         676
17           hk  AFV_Distance_Mid_Basket_Mid_Distance       2578        2578
18           hn  AFV_Distance_Mid_Basket_Mid_Distance        354         354
19           hu  AFV_Distance_Mid_Basket_Mid_Distance        564         564
20           iq  AFV_Distance_Mid_Basket_Mid_Distance        526         526
21           jo  AFV_Distance_Mid_Basket_Mid_Distance        840         840
22           kh  AFV_Distance_Mid_Basket_Mid_Distance       1023        1023
23           kr        AFV_Distance_Insufficient_Data     240229      240229
24           kw  AFV_Distance_Mid_Basket_Mid_Distance       1069        1069
25           la  AFV_Distance_Mid_Basket_Mid_Distance        367         367
26           mm  AFV_Distance_Mid_Basket_Mid_Distance        756         756
27           my  AFV_Distance_Mid_Basket_Mid_Distance       9437        9437
28           ni  AFV_Distance_Mid_Basket_Mid_Distance        326         326
29           om  AFV_Distance_Mid_Basket_Mid_Distance       1078        1078
30           pa  AFV_Distance_Mid_Basket_Mid_Distance        521         521
31           pe  AFV_Distance_Mid_Basket_Mid_Distance       1358        1358
32           ph  AFV_Distance_Mid_Basket_Mid_Distance       7234        7234
33           pk  AFV_Distance_Mid_Basket_Mid_Distance       2086        2086
34           py  AFV_Distance_Mid_Basket_Mid_Distance        607         607
35           qa  AFV_Distance_Mid_Basket_Mid_Distance       1048        1048
36           sa  AFV_Distance_Mid_Basket_Mid_Distance       7760        7760
37           se  AFV_Distance_Mid_Basket_Mid_Distance        919         919
38           sg  AFV_Distance_Mid_Basket_Mid_Distance       3153        3153
39           sk  AFV_Distance_Mid_Basket_Mid_Distance        126         126
40           sv  AFV_Distance_Mid_Basket_Mid_Distance        529         529
41           th  AFV_Distance_Mid_Basket_Mid_Distance      10465       10465
42           tr  AFV_Distance_Mid_Basket_Mid_Distance       3953        3953
43           tw  AFV_Distance_Mid_Basket_Mid_Distance      14767       14767
44           uy  AFV_Distance_Mid_Basket_Mid_Distance        633         633
45           ve  AFV_Distance_Low_Basket_Low_Distance        277         277
46           vn        AFV_Distance_Insufficient_Data      94157       94157

In [9]:
df_check.groupby(["country_code", "cluster"], as_index=False).apply(lambda x: x.notnull().count())

    vendor_ids  update_timestamp  country_code  cluster  vendor_id
0         3986              3986          3986     3986       3986
1         6689              6689          6689     6689       6689
2          433               433           433      433        433
3         1399              1399          1399     1399       1399
4          723               723           723      723        723
5          944               944           944      944        944
6         2549              2549          2549     2549       2549
7          417               417           417      417        417
8          321               321           321      321        321
9          792               792           792      792        792
10         106               106           106      106        106
11         749               749           749      749        749
12        1425              1425          1425     1425       1425
13         596               596           596      596        596
14         405               405           405      405        405
15         549               549           549      549        549
16         676               676           676      676        676
17        2578              2578          2578     2578       2578
18         354               354           354      354        354
19         564               564           564      564        564
20         526               526           526      526        526
21         840               840           840      840        840
22        1023              1023          1023     1023       1023
23      240229            240229        240229   240229     240229
24        1069              1069          1069     1069       1069
25         367               367           367      367        367
26         756               756           756      756        756
27        9437              9437          9437     9437       9437
28         326               326           326      326        326
29        1078              1078          1078     1078       1078
30         521               521           521      521        521
31        1358              1358          1358     1358       1358
32        7234              7234          7234     7234       7234
33        2086              2086          2086     2086       2086
34         607               607           607      607        607
35        1048              1048          1048     1048       1048
36        7760              7760          7760     7760       7760
37         919               919           919      919        919
38        3153              3153          3153     3153       3153
39         126               126           126      126        126
40         529               529           529      529        529
41       10465             10465         10465    10465      10465
42        3953              3953          3953     3953       3953
43       14767             14767         14767    14767      14767
44         633               633           633      633        633
45         277               277           277      277        277
46       94157             94157         94157    94157      94157

In [10]:
df_check["vendor_id"].isnull().value_counts() # vendor_code is the field coming from bigquery. If it is null, this means that there is a mismatch

vendor_id
False    431499
Name: count, dtype: int64

In [11]:
df_check["vendor_ids"].isnull().value_counts() # vendor_ids is the field coming from S3. If it is null, this means that there is a mismatch

vendor_ids
False    431499
Name: count, dtype: int64